body {
    font-family: Georgia;
    line-height: 1.6;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
    max-width: 60ch;
    color: #000000;   
}
h1, h2, h3 {
    margin-top: 2rem;
    font-weight: normal;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.2;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-top: 2rem;
}

h3 {
    margin-top: 2rem;
}

ul {
    padding-left: 30px;
}

footer {
    margin-top: 2rem;
    font-size: 0.9em;
    color: #777;
}