body {
    font-family: Georgia;
    line-height: 1.5;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    color: black;   
}

h1 {
    margin-top:2rem;
    font-weight: bold;
    line-height: 45px;
    font-size:37px;
}

h2 {
    margin-top:2rem;
    font-weight: bold;
    line-height: 30px;
    font-size:28px;
}

h3 {
    margin-top:2rem;
    font-weight: bold;
    line-height: 24px;
    font-size:21px;
}
ul {
    padding-left: 30px;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}